$color-primary: #00bcd4;
$color-primary-dark: #23689b;
$color-primary-light: #f4f9f9;
$color-highlight:#10ddc2;

$color-light: #e8ffff;
$color-dark: #09015f;
$color-white: #ffffff;
$color-black: #000;
$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;
$card-color:#ccf2f4