.darken-button {
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  border: none;
  padding: 1rem;
  outline: none;
  background-color: $color-primary-dark;
  color: $color-primary-light;
  font-size: large;
  &:hover {
    background-color: darken($color: $color-primary-dark, $amount: 10);
    box-shadow: none;
  }

  &--link {
    &:link,
    &:visited {
      text-decoration: none;
    }
  }
}
